In [529]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import datetime
import sklearn.metrics
from sklearn import preprocessing
from tpot import TPOTRegressor
sns.set()

In [578]:
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')
train.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918

In [531]:
train.shape

(33750, 15)

In [532]:
train.drop_duplicates(subset ="date_time", 
                      inplace = True)

In [533]:
train.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918

In [534]:
train.shape

(28589, 15)

In [535]:
test.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
0,2017-05-18 00:00:00,None,73,63,1,27,4,4,285.15,0.0,0,90,Rain,moderate rain
1,2017-05-18 00:00:00,None,251,63,1,27,4,4,285.15,0.0,0,90,Mist,mist
2,2017-05-18 00:00:00,None,75,56,1,0,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle
3,2017-05-18 01:00:00,None,98,56,1,351,2,2,284.79,0.0,0,90,Rain,heavy intensity rain
4,2017-05-18 01:00:00,None,283,56,1,351,1,1,284.79,0.0,0,90,Mist,mist

In [536]:
train.shape

(28589, 15)

In [537]:
test.shape

(14454, 14)

In [538]:
from datetime import datetime
train['date_time'] = pd.to_datetime(train.date_time)
train['year'] = train['date_time'].dt.year
train['month'] = train['date_time'].dt.month
train['day'] = train['date_time'].dt.day
train['dayofyear'] = train['date_time'].dt.dayofyear
train['weekofyear'] = train['date_time'].dt.weekofyear
train['dayofweek'] = train['date_time'].dt.dayofweek
train['hour'] = train['date_time'].dt.hour
train.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,...,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,weekofyear,dayofweek,hour
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,...,40,Clouds,scattered clouds,5545,2012,10,2,40,1,9
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,...,75,Clouds,broken clouds,4516,2012,10,2,40,1,10
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,...,90,Clouds,overcast clouds,4767,2012,10,2,40,1,11
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,...,90,Clouds,overcast clouds,5026,2012,10,2,40,1,12
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,...,75,Clouds,broken clouds,4918,2012,10,2,40,1,13

In [539]:
vard = 0
varm = 0
var = ""
for index,row in train.iterrows():
    if(row['is_holiday'] != "None"):
        vard = row['day']
        varm = row['month']
        var = row['is_holiday']
    if(row['day'] == vard and row['month'] == varm):
        train.loc[index,'is_holiday']=var

In [540]:
train['is_holiday'].value_counts()

None                         27745
Washingtons Birthday            91
Christmas Day                   89
New Years Day                   88
Veterans Day                    84
Thanksgiving Day                83
Columbus Day                    81
Independence Day                72
State Fair                      72
Labor Day                       70
Memorial Day                    69
Martin Luther King Jr Day       45
Name: is_holiday, dtype: int64

In [541]:
for index, row in train.iterrows():
    if(row['temperature']==0):
        train.drop(index,inplace=True)
    if(row['rain_p_h']>30):
        train.drop(index,inplace=True)
    if(row['snow_p_h']>0.2):
        train.drop(index,inplace=True)

In [542]:
train.drop(['air_pollution_index'], axis=1, inplace=True)
# train.drop(['visibility_in_miles'], axis=1, inplace=True)
train.drop(['wind_direction'], axis=1, inplace=True)
# train.drop(['clouds_all'], axis=1, inplace=True)
# train.drop(['weather_description'], axis=1, inplace=True)
# train.drop(['weather_type'], axis=1, inplace=True)
# train.drop(['snow_p_h'], axis=1, inplace=True)
# train.drop(['rain_p_h'], axis=1, inplace=True)
# train.drop(['humidity'], axis=1, inplace=True)
train.drop(['dew_point'], axis=1, inplace=True)
# train.drop(['wind_speed'], axis=1, inplace=True)
# train.drop(['temperature'], axis=1, inplace=True)
# train.drop(['is_holiday'], axis=1, inplace=True)
# train.drop(['year'], axis=1, inplace=True)
# train.drop(['day'], axis=1, inplace=True)
train.head()

,date_time,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,weekofyear,dayofweek,hour
0,2012-10-02 09:00:00,None,89,2,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545,2012,10,2,40,1,9
1,2012-10-02 10:00:00,None,67,3,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516,2012,10,2,40,1,10
2,2012-10-02 11:00:00,None,66,3,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767,2012,10,2,40,1,11
3,2012-10-02 12:00:00,None,66,3,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026,2012,10,2,40,1,12
4,2012-10-02 13:00:00,None,65,3,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918,2012,10,2,40,1,13

In [543]:
train['peak_time'] = 0

In [544]:
for index,row in train.iterrows():
    if(row['hour'] >= 22 and row['hour'] <6):
        train.loc[index,'peak_time'] = 0
    elif((row['hour'] >= 19 and row['hour'] <22)):
        train.loc[index,'peak_time'] = 2
    elif((row['hour'] > 14 and row['hour'] <19)):
        train.loc[index,'peak_time'] = 9
    elif((row['hour'] >= 6 and row['hour'] <=9)):
        train.loc[index,'peak_time'] = 1
    else:
        train.loc[index,'peak_time'] = 1

In [545]:
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,OneHotEncoder
labelencoder = LabelEncoder()
train['weather_type'] = labelencoder.fit_transform(train['weather_type'])
train.head()

,date_time,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,weekofyear,dayofweek,hour,peak_time
0,2012-10-02 09:00:00,None,89,2,1,288.28,0.0,0.0,40,1,scattered clouds,5545,2012,10,2,40,1,9,1
1,2012-10-02 10:00:00,None,67,3,1,289.36,0.0,0.0,75,1,broken clouds,4516,2012,10,2,40,1,10,1
2,2012-10-02 11:00:00,None,66,3,2,289.58,0.0,0.0,90,1,overcast clouds,4767,2012,10,2,40,1,11,1
3,2012-10-02 12:00:00,None,66,3,5,290.13,0.0,0.0,90,1,overcast clouds,5026,2012,10,2,40,1,12,1
4,2012-10-02 13:00:00,None,65,3,7,291.14,0.0,0.0,75,1,broken clouds,4918,2012,10,2,40,1,13,1

In [546]:
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,OneHotEncoder
labelencoder = LabelEncoder()
train['weather_description'] = labelencoder.fit_transform(train['weather_description'])
train.head()

,date_time,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,weekofyear,dayofweek,hour,peak_time
0,2012-10-02 09:00:00,None,89,2,1,288.28,0.0,0.0,40,1,23,5545,2012,10,2,40,1,9,1
1,2012-10-02 10:00:00,None,67,3,1,289.36,0.0,0.0,75,1,2,4516,2012,10,2,40,1,10,1
2,2012-10-02 11:00:00,None,66,3,2,289.58,0.0,0.0,90,1,19,4767,2012,10,2,40,1,11,1
3,2012-10-02 12:00:00,None,66,3,5,290.13,0.0,0.0,90,1,19,5026,2012,10,2,40,1,12,1
4,2012-10-02 13:00:00,None,65,3,7,291.14,0.0,0.0,75,1,2,4918,2012,10,2,40,1,13,1

In [547]:
train.corr()

,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,weekofyear,dayofweek,hour,peak_time
humidity,1.000000,-0.146938,0.001603,0.044745,0.000809,0.008933,0.004810,0.028070,-0.011384,0.024018,-0.040795,0.158550,0.060807,0.172901,-0.011657,0.003904,0.012695
wind_speed,-0.146938,1.000000,-0.007004,-0.068566,-0.013495,-0.004242,-0.003610,-0.022135,0.067232,0.001945,0.087658,-0.097953,0.006267,-0.090312,-0.018745,0.005103,0.005736
visibility_in_miles,0.001603,-0.007004,1.000000,-0.007886,0.007163,0.003843,-0.001758,-0.002924,-0.007963,0.000410,-0.002236,-0.003953,-0.002853,-0.004446,0.003424,-0.000933,0.002018
temperature,0.044745,-0.068566,-0.007886,1.000000,0.076225,-0.017876,-0.140465,-0.063687,-0.080863,0.139560,0.095202,0.236925,0.016417,0.242950,-0.002377,0.125803,0.127264
rain_p_h,0.000809,-0.013495,0.007163,0.076225,1.000000,-0.002930,0.080425,0.175543,-0.005680,-0.017919,-0.005699,0.013143,0.007249,0.013986,-0.002999,-0.008388,-0.008371
snow_p_h,0.008933,-0.004242,0.003843,-0.017876,-0.002930,1.000000,0.028239,0.058096,0.002887,-0.006948,0.013855,0.003589,0.008853,0.004520,-0.007076,-0.008576,0.005403
clouds_all,0.004810,-0.003610,-0.001758,-0.140465,0.080425,0.028239,1.000000,0.492686,-0.217788,0.044217,-0.090312,-0.036266,0.058417,-0.032753,-0.041318,0.020503,0.031216
weather_type,0.028070,-0.022135,-0.002924,-0.063687,0.175543,0.058096,0.492686,1.000000,-0.091980,-0.029351,0.016583,0.026317,0.029581,0.023335,-0.038283,-0.050909,-0.027928
weather_description,-0.011384,0.067232,-0.007963,-0.080863,-0.005680,0.002887,-0.217788,-0.091980,1.000000,-0.056649,0.107896,-0.055456,-0.031679,-0.053435,0.027704,-0.016067,-0.016235
traffic_volume,0.024018,0.001945,0.000410,0.139560,-0.017919,-0.006948,0.044217,-0.029351,-0.056649,1.000000,-0.002826,-0.011747,-0.012629,-0.013538,-0.149490,0.350798,0.416943
year,-0.040795,0.087658,-0.002236,0.095202,-0.005699,0.013855,-0.090312,0.016583,0.107896,-0.002826,1.000000,-0.230266,-0.015935,-0.219503,-0.000729,-0.008768,-0.006207
month,0.158550,-0.097953,-0.003953,0.236925,0.013143,0.003589,-0.036266,0.026317,-0.055456,-0.011747,-0.230266,1.000000,0.018346,0.969805,-0.000636,0.005394,0.004664
day,0.060807,0.006267,-0.002853,0.016417,0.007249,0.008853,0.058417,0.029581,-0.031679,-0.012629,-0.015935,0.018346,1.000000,0.071177,0.001932,-0.007335,-0.003982
weekofyear,0.172901,-0.090312,-0.004446,0.242950,0.013986,0.004520,-0.032753,0.023335,-0.053435,-0.013538,-0.219503,0.969805,0.071177,1.000000,0.001915,0.004077,0.003554
dayofweek,-0.011657,-0.018745,0.003424,-0.002377,-0.002999,-0.007076,-0.041318,-0.038283,0.027704,-0.149490,-0.000729,-0.000636,0.001932,0.001915,1.000000,0.000212,-0.000357
hour,0.003904,0.005103,-0.000933,0.125803,-0.008388,-0.008576,0.020503,-0.050909,-0.016067,0.350798,-0.008768,0.005394,-0.007335,0.004077,0.000212,1.000000,0.374720
peak_time,0.012695,0.005736,0.002018,0.127264,-0.008371,0.005403,0.031216,-0.027928,-0.016235,0.416943,-0.006207,0.004664,-0.003982,0.003554,-0.000357,0.374720,1.000000

In [548]:
train.drop(['date_time'], axis=1, inplace=True)
train.head()

,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,weekofyear,dayofweek,hour,peak_time
0,None,89,2,1,288.28,0.0,0.0,40,1,23,5545,2012,10,2,40,1,9,1
1,None,67,3,1,289.36,0.0,0.0,75,1,2,4516,2012,10,2,40,1,10,1
2,None,66,3,2,289.58,0.0,0.0,90,1,19,4767,2012,10,2,40,1,11,1
3,None,66,3,5,290.13,0.0,0.0,90,1,19,5026,2012,10,2,40,1,12,1
4,None,65,3,7,291.14,0.0,0.0,75,1,2,4918,2012,10,2,40,1,13,1

In [549]:
train.describe()

,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,weekofyear,dayofweek,hour,peak_time
count,28566.000000,28566.000000,28566.000000,28566.000000,28566.000000,28566.000000,28566.000000,28566.000000,28566.000000,28566.000000,28566.000000,28566.000000,28566.000000,28566.000000,28566.000000,28566.000000,28566.000000
mean,70.986978,3.394315,4.986417,280.308895,0.088765,0.000060,45.458237,2.076455,15.422355,3267.459322,2014.613877,6.392565,15.543058,26.006861,3.005006,11.514668,2.445600
std,16.910368,2.074850,2.572735,12.937577,0.767746,0.002348,38.709913,2.584237,8.479812,1989.214708,1.556465,3.500093,8.734396,15.300583,1.998584,6.962210,2.931787
min,13.000000,0.000000,1.000000,243.390000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2012.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
25%,60.000000,2.000000,3.000000,271.290000,0.000000,0.000000,1.000000,0.000000,7.000000,1215.000000,2013.000000,3.000000,8.000000,13.000000,1.000000,5.000000,1.000000
50%,72.000000,3.000000,5.000000,280.688000,0.000000,0.000000,40.000000,1.000000,18.000000,3370.500000,2015.000000,6.000000,15.000000,26.000000,3.000000,12.000000,1.000000
75%,85.000000,5.000000,7.000000,291.140000,0.000000,0.000000,90.000000,5.000000,24.000000,4944.000000,2016.000000,10.000000,23.000000,40.000000,5.000000,18.000000,2.000000
max,100.000000,16.000000,9.000000,308.240000,28.700000,0.170000,100.000000,10.000000,33.000000,7280.000000,2017.000000,12.000000,31.000000,53.000000,6.000000,23.000000,9.000000

In [550]:
index = {"is_holiday":{"None": 50,"Columbus Day":10,"Veterans Day":10,"Thanksgiving Day":7,"Christmas Day":7,"New Years Day":7,"Washingtons Birthday":10,"Memorial Day":5,
                             "State Fair":10,"Labor Day":7,"Martin Luther King Jr Day":5,"Independence Day":7}}
train.replace(index, inplace=True)
train.head()

,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,weekofyear,dayofweek,hour,peak_time
0,50,89,2,1,288.28,0.0,0.0,40,1,23,5545,2012,10,2,40,1,9,1
1,50,67,3,1,289.36,0.0,0.0,75,1,2,4516,2012,10,2,40,1,10,1
2,50,66,3,2,289.58,0.0,0.0,90,1,19,4767,2012,10,2,40,1,11,1
3,50,66,3,5,290.13,0.0,0.0,90,1,19,5026,2012,10,2,40,1,12,1
4,50,65,3,7,291.14,0.0,0.0,75,1,2,4918,2012,10,2,40,1,13,1

In [551]:
train.to_csv("prepros.csv")

In [552]:
# train1 = pd.read_csv('train_preprocessed_6.csv')
# train1.head()

In [553]:

y = train["traffic_volume"]

X = train.drop(["traffic_volume"],axis=1)

X.shape

(28566, 17)

In [554]:
# X.drop(['is_holiday'], axis=1, inplace=True)

In [555]:
X.head()

,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,year,month,day,weekofyear,dayofweek,hour,peak_time
0,50,89,2,1,288.28,0.0,0.0,40,1,23,2012,10,2,40,1,9,1
1,50,67,3,1,289.36,0.0,0.0,75,1,2,2012,10,2,40,1,10,1
2,50,66,3,2,289.58,0.0,0.0,90,1,19,2012,10,2,40,1,11,1
3,50,66,3,5,290.13,0.0,0.0,90,1,19,2012,10,2,40,1,12,1
4,50,65,3,7,291.14,0.0,0.0,75,1,2,2012,10,2,40,1,13,1

In [556]:
from sklearn.model_selection import train_test_split 

x_train , x_test, y_train, y_test = train_test_split(X,y,test_size=0.001,random_state=0)

In [557]:
scaler=MinMaxScaler()
X_train = scaler.fit_transform(x_train)
X_test = scaler.transform(x_test)

/Users/geetshingi/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [558]:
model = RandomForestRegressor(n_jobs=-1)

In [559]:
estimators = np.arange(10, 500, 10)
scores = []
for n in estimators:
    model.set_params(n_estimators=n)
    model.fit(X_train, y_train)
    scores.append(model.score(X_test, y_test))
plt.title("Effect of n_estimators")
plt.xlabel("n_estimator")
plt.ylabel("score")
plt.plot(estimators, scores)

KeyboardInterrupt:

In [272]:
scores

[0.9783280964083335,
 0.9793014754664491,
 0.9788544716478699,
 0.9793178796866124,
 0.9802512586102041,
 0.9775149862122079,
 0.9799197252786892,
 0.9763380273749603,
 0.9807680009871753,
 0.9769660319068569,
 0.9774642881799959,
 0.9774713096958129,
 0.9804530991244431,
 0.9791712466572549,
 0.979229260177069,
 0.9771720834251714,
 0.9806109238828847,
 0.9785616245022579,
 0.9762945085152018,
 0.9790093308030476,
 0.9800653185996522,
 0.9772640992060425,
 0.9787835029776947,
 0.9776718930009117,
 0.9808421151053903,
 0.9791742961752328,
 0.9797683578840564,
 0.9758336577818346,
 0.9791178448516467,
 0.9792944698479531,
 0.9787432264251898,
 0.9802328685300766,
 0.9781928058118101,
 0.979476000445227,
 0.9791601355394645,
 0.9783066414478421,
 0.9785845938564657,
 0.9796591118629165,
 0.9799406885833396,
 0.979613134557984,
 0.9792681633152025,
 0.9780772620107399,
 0.9782530286293005,
 0.9785890881528071,
 0.9801862706053156,
 0.9803159950931124,
 0.9787792034546688,
 0.9798445982542092,
 0.9795375576787012]

In [560]:
lr = RandomForestRegressor(bootstrap=True,n_estimators=100)

In [561]:
lr.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [562]:
y_predictions = lr.predict(X_test)
r2 = sklearn.metrics.r2_score(y_test, y_predictions)
mae = sklearn.metrics.mean_absolute_error(y_test, y_predictions)
mse = sklearn.metrics.mean_squared_error(y_test, y_predictions)
lmse = sklearn.metrics.mean_squared_log_error(y_test, y_predictions)
rmse = np.sqrt(mse)
lrmse = np.sqrt(lmse)
print("R2 score:", r2)
print("MAE:", mae)
print("MSE:", mse)
print("LMSE:", lmse)
print("RMSE:", rmse)
print("LRMSE:", lrmse)

R2 score: 0.973833602540606
MAE: 215.81000000000003
MSE: 94702.62199655171
LMSE: 0.06837604128444649
RMSE: 307.7379112110689
LRMSE: 0.2614881283814745

In [579]:
test.drop(['air_pollution_index'], axis=1, inplace=True)
# test.drop(['visibility_in_miles'], axis=1, inplace=True)
# test.drop(['clouds_all'], axis=1, inplace=True)
# test.drop(['weather_description'], axis=1, inplace=True)
test.drop(['wind_direction'], axis=1, inplace=True)
# test.drop(['snow_p_h'], axis=1, inplace=True)
# test.drop(['humidity'], axis=1, inplace=True)
test.drop(['dew_point'], axis=1, inplace=True)
# test.drop(['wind_speed'], axis=1, inplace=True)
# test.drop(['temperature'], axis=1, inplace=True)
# test.drop(['weather_type'], axis=1, inplace=True)
# test.drop(['rain_p_h'], axis=1, inplace=True)
# test.drop(['is_holiday'], axis=1, inplace=True)
test.head()

,date_time,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
0,2017-05-18 00:00:00,None,63,1,4,285.15,0.0,0,90,Rain,moderate rain
1,2017-05-18 00:00:00,None,63,1,4,285.15,0.0,0,90,Mist,mist
2,2017-05-18 00:00:00,None,56,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle
3,2017-05-18 01:00:00,None,56,1,2,284.79,0.0,0,90,Rain,heavy intensity rain
4,2017-05-18 01:00:00,None,56,1,1,284.79,0.0,0,90,Mist,mist

In [581]:
from datetime import datetime
train['date_time'] = pd.to_datetime(train.date_time)
train['year'] = train['date_time'].dt.year
train['month'] = train['date_time'].dt.month
train['day'] = train['date_time'].dt.day
train['dayofyear'] = train['date_time'].dt.dayofyear
train['weekofyear'] = train['date_time'].dt.weekofyear
train['dayofweek'] = train['date_time'].dt.dayofweek
train['hour'] = train['date_time'].dt.hour
train.head()

,date_time,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,year,month,day,weekofyear,dayofweek,hour
0,2012-10-02 09:00:00,None,63,1,4,285.15,0.0,0,90,Rain,moderate rain,2012,10,2,40,1,9
1,2012-10-02 10:00:00,None,63,1,4,285.15,0.0,0,90,Mist,mist,2012,10,2,40,1,10
2,2012-10-02 11:00:00,None,56,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle,2012,10,2,40,1,11
3,2012-10-02 12:00:00,None,56,1,2,284.79,0.0,0,90,Rain,heavy intensity rain,2012,10,2,40,1,12
4,2012-10-02 13:00:00,None,56,1,1,284.79,0.0,0,90,Mist,mist,2012,10,2,40,1,13

In [582]:
vard = 0
varm = 0
var = ""
for index,row in test.iterrows():
    if(row['is_holiday'] != "None"):
        vard = row['day']
        varm = row['month']
        var = row['is_holiday']
    if(row['day'] == vard and row['month'] == varm):
        test.loc[index,'is_holiday']=var

In [583]:
test['is_holiday'].value_counts()

None                         14299
Thanksgiving Day                31
Memorial Day                    25
Martin Luther King Jr Day       24
Labor Day                       21
Veterans Day                    11
Independence Day                10
Washingtons Birthday             9
Christmas Day                    7
State Fair                       6
Columbus Day                     6
New Years Day                    5
Name: is_holiday, dtype: int64

In [584]:
X.head()

,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,year,month,day,weekofyear,dayofweek,hour,peak_time
0,50,89,2,1,288.28,0.0,0.0,40,1,23,2012,10,2,40,1,9,1
1,50,67,3,1,289.36,0.0,0.0,75,1,2,2012,10,2,40,1,10,1
2,50,66,3,2,289.58,0.0,0.0,90,1,19,2012,10,2,40,1,11,1
3,50,66,3,5,290.13,0.0,0.0,90,1,19,2012,10,2,40,1,12,1
4,50,65,3,7,291.14,0.0,0.0,75,1,2,2012,10,2,40,1,13,1

In [585]:
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,OneHotEncoder
labelencoder = LabelEncoder()
test['weather_type'] = labelencoder.fit_transform(test['weather_type'])
test.head()

,date_time,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,year,month,day,weekofyear,dayofweek,hour
0,2012-10-02 09:00:00,None,63,1,4,285.15,0.0,0,90,6,moderate rain,2012,10,2,40,1,9
1,2012-10-02 10:00:00,None,63,1,4,285.15,0.0,0,90,5,mist,2012,10,2,40,1,10
2,2012-10-02 11:00:00,None,56,1,1,285.15,0.0,0,90,2,light intensity drizzle,2012,10,2,40,1,11
3,2012-10-02 12:00:00,None,56,1,2,284.79,0.0,0,90,6,heavy intensity rain,2012,10,2,40,1,12
4,2012-10-02 13:00:00,None,56,1,1,284.79,0.0,0,90,5,mist,2012,10,2,40,1,13

In [586]:
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,OneHotEncoder
labelencoder = LabelEncoder()
test['weather_description'] = labelencoder.fit_transform(test['weather_description'])
test.head()

,date_time,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,year,month,day,weekofyear,dayofweek,hour
0,2012-10-02 09:00:00,None,63,1,4,285.15,0.0,0,90,6,15,2012,10,2,40,1,9
1,2012-10-02 10:00:00,None,63,1,4,285.15,0.0,0,90,5,14,2012,10,2,40,1,10
2,2012-10-02 11:00:00,None,56,1,1,285.15,0.0,0,90,2,9,2012,10,2,40,1,11
3,2012-10-02 12:00:00,None,56,1,2,284.79,0.0,0,90,6,7,2012,10,2,40,1,12
4,2012-10-02 13:00:00,None,56,1,1,284.79,0.0,0,90,5,14,2012,10,2,40,1,13

In [587]:
test['is_holiday'].value_counts()

None                         14299
Thanksgiving Day                31
Memorial Day                    25
Martin Luther King Jr Day       24
Labor Day                       21
Veterans Day                    11
Independence Day                10
Washingtons Birthday             9
Christmas Day                    7
State Fair                       6
Columbus Day                     6
New Years Day                    5
Name: is_holiday, dtype: int64

In [588]:
index = {"is_holiday":{"None": 50,"Columbus Day":10,"Veterans Day":10,"Thanksgiving Day":7,"Christmas Day":7,"New Years Day":7,"Washingtons Birthday":10,"Memorial Day":5,
                             "State Fair":10,"Labor Day":7,"Martin Luther King Jr Day":5,"Independence Day":7}}
test.replace(index, inplace=True)
train.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918

In [589]:
date_time = test['date_time']
test.drop(['date_time'], axis=1, inplace=True)
test.head()

,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,year,month,day,weekofyear,dayofweek,hour
0,50,63,1,4,285.15,0.0,0,90,6,15,2012,10,2,40,1,9
1,50,63,1,4,285.15,0.0,0,90,5,14,2012,10,2,40,1,10
2,50,56,1,1,285.15,0.0,0,90,2,9,2012,10,2,40,1,11
3,50,56,1,2,284.79,0.0,0,90,6,7,2012,10,2,40,1,12
4,50,56,1,1,284.79,0.0,0,90,5,14,2012,10,2,40,1,13

In [590]:
test['peak_time'] = 0

In [591]:
for index,row in test.iterrows():
    if(row['hour'] >= 22 and row['hour'] <6):
        test.loc[index,'peak_time'] = 0
    elif((row['hour'] >= 19 and row['hour'] <22)):
        test.loc[index,'peak_time'] = 2
    elif((row['hour'] > 14 and row['hour'] <19)):
        test.loc[index,'peak_time'] = 9
    elif((row['hour'] >= 6 and row['hour'] <=9)):
        test.loc[index,'peak_time'] = 1
    else:
        test.loc[index,'peak_time'] = 1

In [592]:
test.head()

,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,year,month,day,weekofyear,dayofweek,hour,peak_time
0,50,63,1,4,285.15,0.0,0,90,6,15,2012,10,2,40,1,9,1
1,50,63,1,4,285.15,0.0,0,90,5,14,2012,10,2,40,1,10,1
2,50,56,1,1,285.15,0.0,0,90,2,9,2012,10,2,40,1,11,1
3,50,56,1,2,284.79,0.0,0,90,6,7,2012,10,2,40,1,12,1
4,50,56,1,1,284.79,0.0,0,90,5,14,2012,10,2,40,1,13,1

In [593]:
X.head()

,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,year,month,day,weekofyear,dayofweek,hour,peak_time
0,50,89,2,1,288.28,0.0,0.0,40,1,23,2012,10,2,40,1,9,1
1,50,67,3,1,289.36,0.0,0.0,75,1,2,2012,10,2,40,1,10,1
2,50,66,3,2,289.58,0.0,0.0,90,1,19,2012,10,2,40,1,11,1
3,50,66,3,5,290.13,0.0,0.0,90,1,19,2012,10,2,40,1,12,1
4,50,65,3,7,291.14,0.0,0.0,75,1,2,2012,10,2,40,1,13,1

In [594]:
scaler=MinMaxScaler()
test = scaler.fit_transform(test)

/Users/geetshingi/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [595]:
prediction_test=lr.predict(test)

In [596]:
prediction_test=prediction_test.astype(int)

In [597]:
my_solution=pd.DataFrame(prediction_test,date_time,columns=["traffic_volume"])
print(my_solution.shape)

(14454, 1)

In [598]:
my_solution.to_csv("prediction2.csv",index_label=["date_time"])